<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kainat Foam Palace</title>
    <!-- CSS file links -->

    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/css/jquery.bxslider.css" rel="stylesheet" />
    <link href="/Content/css/lightbox.css" rel="stylesheet" />
    <link href="/Content/css/responsive.css" rel="stylesheet" />
    <link href="/Content/css/style.css" rel="stylesheet" />


   @Styles.Render("~/Content/bootstrap.css")
    @Styles.Render("~/Content/bootstrap-theme.css")
    @Styles.Render("~/Content/bootstrap-theme.min.css")
    @Styles.Render("~/Content/styles.css")
    <script src="~/Content/jquery.js"></script>
    <link href="~/Content/style.css" rel="stylesheet" />


   
</head>
<body>

    <!-- Header Start -->
    <header class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button style="background-color:#0000ff" type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               </div>
              

            


            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-left">
                <li><a style="color:black;font:bold;font-size:xx-large" href="#sliderAnchor">Kainat Foam Palace</a></li>
                    </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="current"><a style="color:black;font:bold;font-size:large" href="#sliderAnchor">Home</a></li>
                    <li><a style="color:black;font:bold;font-size:large"  href="#featuresAnchor">Services</a></li>
                    <li><a style="color:black;font:bold;font-size:large"  href="#help">Varaities</a></li>
                    <li><a style="color:black;font:bold;font-size:large"  href="#howItWorksAnchor">Branches</a></li>
                    
                   
                </ul>



            </div><!--/.navbar-collapse -->

        </div><!-- END Container -->

    </header><!-- END Header -->
    <!-- Slider Start -->

    <a class="anchor" id="sliderAnchor"></a>
    <section id="">
        <div class="container">
                        <img style="width:100%" class="img-responsive" style="border-radius:5%" src="~/Content/images/slider.png" alt="app1" />
          
           </div>
        
    </section><!-- END Slider -->
    <!-- sub-slider message Start -->
    
    <section id="subSliderMessage">
        <div class="container">
            <div  class="row">
                <div class="col-lg-12">
              
                          <h3 style="color:black"> Kainat Foam Palace the name of Trust and Quality.</h3><br/>
                    <h4>Dealer of Mehran Chairman Foam. </h4>

                </div>
            </div>
        </div><!-- END container -->
    </section><!-- END Sub-slider message -->
    <!-- Features Start -->
    <a class="anchor" id="featuresAnchor"></a>
    <section id="features">
        <div class="container">
            <div class="row"><div class="col-lg-12"><h3  style="font:bolder;color:#0000ff">Our Services</h3></div><div class="col-lg-12"><img class="dividerWide" src="/Content/images/divider.png" alt=""></div></div>
            <div class="row">
                <div class="col-lg-5 featureItem">
                    <div class="featureIcon"><img style="border-radius:5%;" src="/Content/images/Feature'sIcon/retail.png" /></div>
                    <h4 style="color:black;margin-left:100px">Retail Sales</h4>
                    <p style="color:black;margin-left:100px">Our customers are our first priority. Find the best kind of matresses, foam sheets, wooden cum beds, rod iron furniture and plastic furniture with best prices in our showrooms. </p>

                </div>

                <div class="col-lg-5 featureItem">
                    <div class="featureIcon"><img style="border-radius:5%;" src="/Content/images/Feature'sIcon/realtime.png" /></div>
                    <h4 style="color:black;margin-left:100px">Whole Sales</h4>
                    <p style="color:black;margin-left:100px">We care about you and your businesses. We are the whole sale dealers of Mehran Chairman Foam.</p>

                </div>

                  
            </div><!-- END Row -->
            <div class="row">
                <div class="col-lg-5 featureItem">
                    <div class="featureIcon"><img style="border-radius:5%;" src="/Content/images/Feature'sIcon/upload.png" /></div>

                    <h4 style="color:black;margin-left:100px">Import & Export</h4>
                    <p style="color:black;margin-left:100px">In case you are not in Pakistan and want to import our furnitures like wooden Cum Beds etc in your country then contact us. Our services are available in USA, China and Thailand</p>
                </div>
                <div class="col-lg-5 featureItem">
                    <div class="featureIcon"><img style="border-radius:5%;" src="/Content/images/Feature'sIcon/visualization.png" /></div>

                    <h4 style="color:black;margin-left:100px">Home Delivery</h4>
                    <p style="color:black;margin-left:100px">Buy goods from us and forget the tension of delivery, We ensure our customers to deliver their goods in thier home or shops.</p>
                </div>

                
            </div><!-- END Row -->


            
        </div><!-- END Container -->

    </section><!-- END Features -->
    <!-- Start help -->
    <a class="anchor" id="help"></a>
    <section id="help">
        <div class="container">
            <div class="row"><div class="col-lg-12"><h3 style="font:bolder;color:#0000ff">Varaities</h3></div><div class="col-lg-12"><img class="dividerWide" src="/Content/images/divider.png" alt=""></div></div>
            <div class="row">
                <div class="col-lg-3">
                    <div class="image">
                        <img src="/Content/images/Help/bluetoothCon.png" class="screenshotImage" alt="placeholder" />
                    </div>
                    <h4 style="color:black">Foam/Matresses</h4>
                    <p style="color:black">
                        Looking for the best Matresses? Kainat Foam Palace is famous due to their best Quality Foams. Find all kind of foam mattresses and spring mattresses with BEST PRICES. We are the dealers of Mehran Chairman Foam. Foams and mattresses are available in our all branches.
                    </p>
                </div>
                <div class="col-lg-3">
                    <div class="image">
                        <img src="/Content/images/Help/signup.png" class="screenshotImage" alt="placeholder" />
                    </div>
                    <h4 style="color:black">Wooden Cum Beds</h4>
                    <p style="color:black">The best quality Wooden combad are available in our Chairman Foam and Plastic furniture branch. You can enhance the comfort and beauty of your living room. They maximize the space while reflecting your personal taste.  </p>
                </div>
                <div class="col-lg-3">
                    <div class="image">
                        <img src="/Content/images/Help/uploadT.png" class="screenshotImage" alt="placeholder" />
                    </div>
                    <h4 style="color:black">Rod Iron Furniture</h4>
                    <p style="color:black">The diverse and latest varaities of Rod Iron Furnitures are available in our showrooms. Rod Iron Bed, Rod Iron Chair and Rod Iron tables with best qualities are available.</p>

                </div>
                <div class="col-lg-3">
                    <div class="image">
                        <img src="/Content/images/Help/visualization.png" class="screenshotImage" alt="placeholder" />
                    </div>
                    <h4 style="color:black">Plastic Furniture</h4>
                    <p style="color:black">Diverse kind of Plastic chairs and plastic tables are available in our Chairman Foam and Plastic Furniture and Kainat Foam center branch.  </p>
                </div>
            </div><!-- END Row -->
        </div><!-- END Container -->
    </section><!-- END Screenshots -->
    <!-- Start Promo box -->
    <section id="subSliderMessage">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h4 style="font-family:Georgia, 'Times New Roman', Times, serif">
                        Kainat Foam Palace providing high quality Mattresses, Foam, Wooden combad and Plastic furnitures for more than 10 years.
                         
                    </h4>

                </div>
            </div><!-- END Row -->
        </div><!-- END container -->
    </section><!-- END Promo box -->
    <!-- Start Our Team -->
    @RenderBody()
    <section id="ourTeam">
        <a class="anchor" id="howItWorksAnchor"></a>
        <div class="container">

            <div class="row"><div class="col-lg-12"><h3 style="font:bolder;color:#0000ff">Branches</h3></div><div class="col-lg-12"><img class="dividerWide" src="/Content/images/divider.png" alt=""></div></div>
                 <div class="row">
                <div class="col-lg-4">
                    <div class="image">
                        <img src="/Content/images/Help/main.jpg" class="screenshotImage" alt="placeholder" />
                    </div>
                    <h4 style="color:black">Kainat Foam Palace - Main Branch</h4>
                    <p style="color:black">
                        M-1876, Near Chaklala Road, Rawalpindi. <br/>
                        Tel: 051-5702372, 051-5702377<br />
                        <img src="/Content/images/icons/footerPhone.png" alt="mail icon" />Syed Imtiaz Haider
                    </p>
                </div>
                <div class="col-lg-4">
                    <div class="image">
                        <img src="/Content/images/Help/fur.jpg" class="screenshotImage" alt="placeholder" />
                    </div>
                    <h4 style="color:black">Chairman Foam & Plastic Furniture</h4>
                    <p style="color:black">M-1748, Khurri Road, Rawalpindi.<br/>
                        Tel: 051-5503996<br />
                        <img src="/Content/images/icons/footerPhone.png" alt="mail icon" />Syed Ijaz Haider
                    </p>
                </div>
                <div class="col-lg-4">
                    <div class="image">
                        <img src="/Content/images/Help/karachi.jpg" class="screenshotImage" alt="placeholder" />
                    </div>
                    <h4 style="color:black">Kainat Foam Center</h4>
                    <p style="color:black">
                        London Plaza G-9 Markaz, Islamabad. <br/>
                        Tel: 051-2285730<br />
                        <img src="/Content/images/icons/footerPhone.png" alt="mail icon" />Syed Kashif Haider
                    </p>

                </div>
                
            </div><!-- END Row -->
       </div><!-- END Container -->
        </div>
    </section><!-- END Our team -->
    <footer style="background-image:url('/Content/images/footer.png')">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 about">

                    <h4 style="color:white">Kainat Foam Palace</h4>
                    <p style="color:wheat">
                        The name of trust and quality. Our first priority is the satisfication of our customers. 
                    </p>
             
                        
                    </ul>
                          <p style="color:white; font-size:15px" ><span style="font-size:x-large">&copy;</span><a style="color:wheat" href="http://www.appveteran.com/" target="_blank"> Team App Veteran ALL RIGHTS RESERVED</a></p>
      
                </div>

                <div class="col-lg-4 contact">
                    <h4 style="color:white">Contact Info</h4>
                    <p style="color:wheat">
                         M-1876, Near Chaklala Road, Rawalpindi. <br/>
                        Tel: 
                         
                    </p>
                    <ul>
                        <li style="color:wheat"><img src="/Content/images/icons/footerPhone.png" alt="phone icon" />051-5702372, 051-5702377</li>
                        


                    </ul>
                </div>
            </div><!-- END Row -->
        </div><!-- END Container -->
    </footer><!-- END Footer -->
    <!-- JavaScript file links -->
    <script src="~/Content/js/jquery.js"></script>			<!-- Jquery -->
    <script src="~/Content/js/bootstrap.min.js"></script>		<!-- bootstrap -->
    <script src="~/Content/js/jquery.bxslider.min.js"></script>  <!-- bxslider -->
    <script src="~/Content/js/tabs.js"></script> <!-- custom tab script -->
    <script src="~/Content/js/lightbox-2.6.min.js"></script>  <!-- lightbox -->
    <script src="~/Content/js/jquery.scrollTo.js"></script>  <!-- scollTo -->
    <script src="~/Content/js/jquery.nav.js"></script>  <!-- one page nav -->
    <script src="~/Content/js/respond.js"></script>
    <script>
        "use strict";
        // ACTIVATE BXSLIDER (for slider section)
        $(document).ready(function () {
            $('.slides').fadeIn().bxSlider({
                auto: true,
                pager: false,
                nextSelector: '#slider-next',
                prevSelector: '#slider-prev',

                nextText: '<img src="/Content/images/next.png" alt="slider next" />',
                prevText: '<img src="/Content/images/prev.png" alt="slider prev" />',
                // triggers slider animations on slide change
                onSlideBefore: function () {
                    $('.jumbotron img').addClass("fadeInReallyFast");
                    $('.jumbotron h1').addClass("fadeInFast");
                    $('.jumbotron p').addClass("fadeInMed");
                    $('.jumbotron .button').addClass("fadeInSlow");
                    $('.jumbotron .buttonSmall').addClass("fadeInSlow");
                    $('#emailInputSlider').addClass("fadeInSlow");

                    setTimeout(function () {
                        $('.jumbotron img').removeClass("fadeInReallyFast");
                        $('.jumbotron h1').removeClass("fadeInFast");
                        $('.jumbotron p').removeClass("fadeInMed");
                        $('.jumbotron .button').removeClass("fadeInSlow");
                        $('.jumbotron .buttonSmall').removeClass("fadeInSlow");
                        $('#emailInputSlider').removeClass("fadeInSlow");
                    }, 1400);
                }
            });

            //Triggers slider animations on page load
            $(document).ready(function () {
                $('.jumbotron img').toggleClass("fadeInReallyFast");
                $('.jumbotron h1').toggleClass("fadeInFast");
                $('.jumbotron p').toggleClass("fadeInMed");
                $('.jumbotron .button').toggleClass("fadeInSlow");
                $('.jumbotron .buttonSmall').toggleClass("fadeInSlow");
                $('#emailInputSlider').toggleClass("fadeInSlow");

                setTimeout(function () {
                    $('.jumbotron img').removeClass("fadeInReallyFast");
                    $('.jumbotron h1').removeClass("fadeInFast");
                    $('.jumbotron p').removeClass("fadeInMed");
                    $('.jumbotron .button').removeClass("fadeInSlow");
                    $('.jumbotron .buttonSmall').removeClass("fadeInSlow");
                    $('#emailInputSlider').removeClass("fadeInSlow");
                }, 1400);
            });

            //activate second bxslider (for testimonials section)
            $('.slides2').bxSlider({
                auto: true,
                controls: false
            });
        });


        // ACTIVATE ONE PAGE NAV
        $(document).ready(function () {
            $('.nav.navbar-nav.navbar-right').onePageNav();
        });
    </script>
    <script>
        "use strict";
        // SCREENSHOT IMAGE HOVERS
        $('.image').mouseover(function () {
            $(".overlay", this).stop(true, true).fadeIn();
        });

        $('.image').mouseout(function () {
            $(".overlay", this).stop(true, true).fadeOut();
        });
    </script>
    <!-- CONTACT FORM -->
    <script type="text/javascript">
  <!--//--><![CDATA[//><!--
  $(document).ready(function() {
    $('form#contactForm').submit(function() {
      $('form#contactForm .error').remove();
      var hasError = false;
      $('.requiredField').each(function() {
        if($.trim($(this).val()) == '') {
          var labelText = $(this).prev('label').text();
          $(this).parent().append('<span class="error">You forgot to enter your '+labelText+'.</span>');
          $(this).addClass('inputError');
          hasError = true;
        } else if($(this).hasClass('email')) {
          if(!emailReg.test($.trim($(this).val()))) {
            var labelText = $(this).prev('label').text();
            $(this).parent().append('<span class="error">Sorry! You\'ve entered an invalid '+labelText+'.</span>');
            $(this).addClass('inputError');
            hasError = true;
          }
        }
      });
      if(!hasError) {
        var formInput = $(this).serialize();
        $.post($(this).attr('action'),formInput, function(data){
          $('form#contactForm').slideUp("fast", function() {
            $(this).before('<p class="tick"><strong>Thanks!</strong> Your email has been delivered!</p>');
          });
        });
      }

      return false;
    });
  });
  